.dashboard-title{
    margin-bottom:25px;
}

.dashboard-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:20px;
}

.dashboard-card{
    background:white;
    border-radius:18px;
    padding:24px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-6px);
}

.dashboard-card h4{
    color:gray;
    margin-bottom:10px;
}

.dashboard-card h2{
    font-size:30px;
}


/* Tablet */

@media (max-width:992px){

.dashboard-cards{
    grid-template-columns:repeat(2,1fr);
}

}

/* Mobile */

@media (max-width:768px){

.dashboard-cards{
    grid-template-columns:1fr;
}

.dashboard-card{
    padding:20px;
}

.dashboard-title{
    font-size:28px;
}

}